mkdocs-material>=9.5.0
mkdocs-awesome-pages-plugin>=2.10.0
pymdown-extensions>=10.7.0
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-glightbox>=0.4.0
mkdocs-minify-plugin>=0.8.0
mkdocs-rss-plugin>=1.19.0
mkdocs-ezlinks-plugin>=0.1.14
